# Tauri Android Keystore Configuration
# Path to your .jks file (Use an ABSOLUTE path with FORWARD slashes)
TAURI_ANDROID_KEYSTORE_PATH=C:/Users/YourName/Documents/onefiletasks/my-release-key.jks
# Your keystore password
TAURI_ANDROID_KEYSTORE_PASSWORD=
# Your key alias
TAURI_ANDROID_KEY_ALIAS=
# Your key password
TAURI_ANDROID_KEY_PASSWORD=
